@charset "UTF-8";

/* Main */
* {
    transition-timing-function: ease !important;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255,255,255,1.00);
	background-color: rgba(20,45,60,1.00);
    overflow-y: scroll !important;
    overflow-x: hidden;
    min-width: 285px;
}
body.start {
    overflow: hidden !important;
    background-image: url(https://jugendrettet.org/images/error.jpg);
    background-size: cover;
}
body.start:hover, #cross:hover, #bread:hover, .mehr:hover {
    cursor: pointer;
}
#wrap {
    padding: 0;
}
#wrap.start {
    overflow: hidden !important;
}
hr.wide {
    width: 15vw;
    background-color: #fff;
    border: 1px solid #fff;
}
hr.narrow {
    width: 50%;
    background-color: #fff;
    border: 1px solid #fff;
}
h3 {
	font-weight: bold;
    text-transform: uppercase;
    font-size: 20pt;
    margin: 10px 0;
}
h4 {
	font-weight: bold;
    text-transform: uppercase;
    font-size: 13pt;
    margin: 10px 0;
}
.rotate-open-top {
    -webkit-transform: translate(0, 8px) rotate(135deg);
    -o-transform: translate(0, 8px) rotate(135deg);
    transform: translate(0, 8px) rotate(135deg);
}
.rotate-open-bottom {
    -webkit-transform: translate(0, -4px) rotate(45deg);
    -o-transform: translate(0, -4px) rotate(45deg);
    transform: translate(0, -4px) rotate(45deg);
}
.rotate-close-top {
    -webkit-transform: translate(0, 8px) rotate(180deg);
    -o-transform: translate(0, 8px) rotate(180deg);
    transform: translate(0, 8px) rotate(180deg);
    opacity: 1;
}
.rotate-close-bottom {
    -webkit-transform: translate(0, -4px) rotate(-180deg);
    -o-transform: translate(0, -4px) rotate(-180deg);
    transform: translate(0, -4px) rotate(-180deg);
    opacity: 1;
}
.stroke {
    transition: 400ms;
    height: 2px;
    background-color: rgba(255,255,255,1.00);
}
.stroke#br-bottom-stroke, .stroke#cr-bottom-stroke {
    margin: 10px 0;
}
.scroller::-webkit-scrollbar, .container::-webkit-scrollbar, #content::-webkit-scrollbar {
      width: 0;
}
#cross.collapse {
    transition: 300ms;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
}

/* Head */

#title {
    transition: 200ms;
    display: block;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    margin: 10px 0 0;
}
a:hover > #logo {
	transition: 100ms;
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
#bread {
    position: fixed;
    transition: 200ms;
    width: 25px;
    height: 20px;
}
.hidden {
    display: block;
    float: right;
}
header {
	transition: 400ms;
    position: fixed;
    z-index: 50;
}
header ul {
    position: fixed;
    top: 0;
}
header ul li {
	transition: 400ms;
	bottom: 0;
	list-style: none;
	text-transform: uppercase;
}
header ul li:hover {
	transition: 200ms;
	background-color: rgba(40,100,130,1.00);
}
header ul.pop li:hover {
	transition: 200ms;
	background-color: rgba(25,60,80,1.00);
}
.indicator {
	background-color: rgba(40,100,130,1.00);
}
.indicator.pop {
	background-color: rgba(25,60,80,1.00);
}
.indicator.foot {
	color: #fff;
	background-color: initial;
    box-shadow: 0 1px #fff;
}

/* Simulation */

#ui, #simulator, #wellen {
    z-index: -1000;
}
#back-btn {
    font-size: 0.5em;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
/* Content */

#menu {
    text-transform: uppercase;
    font-size: 15pt;
    margin: 0 auto;
    display: block;
    height: 200px;
}
#menu.single {
    width: 33.33%;
}
#menu.double {
    width: 66.67%;
}
#menu.triple {
    width: 100%;
}
#menu .child {
    transition: 500ms;
}
#menu a {
    height: 100%;
}
.tint {
    transition: 200ms;
    width: 100%;
    height: 100%;
    margin: -20px;
    padding: 20px;
    z-index: 3;
    background-color: rgba(0,70,100,0.00);
}
.tint .helper {
    display: block;
    width: calc(30% + 100px);
}
.tint:hover {
    transition: 200ms;
    background-color: rgba(0,110,160,0.70);
}
.child {
    transition: 200ms;
    float: left;
    z-index: 2;
    padding: 20px;
    margin: 0 0 10px;
    width: calc(100% - 40px);
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
}
.single .child {
    width: calc(100% - 40px);
}
.double .child {
    width: calc(50% - 40px);
}
.triple .child {
    width: calc(33.33% - 40px);
}
.description {
    transition: 200ms;
    text-transform: none;
    font-size: 12pt;
}
.description a.show {
    font-size: 15pt;
}
.child:hover .description {
    transition: 500ms;
    transition-delay: 200ms;
    opacity: 1;
}
#union {
	transition: 200ms;
    padding: 0 20px 0;
    width: 100vw;
    height: calc(100vh - 100px);
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
	text-transform: uppercase;
	font-weight: bold;
    cursor: pointer;
}
.show:hover {
    cursor: pointer;
}
#stats {
    display: none;
}
#percentage {
    width: 1%;
    margin: 20px 0;
    float: left;
    transition: 200ms;
    height: 5px;
    background-color: rgba(255,255,255,1);
    font-size: 13pt;
}
#percentage.load {
    transition: 800ms;
    width: 86%;
}
#social-media {
    display: block;
    margin: 25px auto;
    height: 30px;
}
#social-media a li {
    float: left;
    margin-right: 10px;
}
form.validate, form.create-event {
    height: 30px;
}
form.validate input, form.create-event input {
    outline: none;
}
form.create-event input {
    margin: 2px;
    margin-right: -2px;
    padding: 5px;
    width: auto;
    white-space: nowrap;
    border-radius: 0;
    border: 0;
    text-overflow: ellipsis;
}
form.create-event .time, form.create-event .plz {
    width: calc(16.66% - 10px);
}
form.create-event .ort {
    display: inline-block;
    width: calc(83.33% - 14px);
}
form.create-event .title {
    width: 100%;
}
form.create-event .date, form.create-event .time-container {
    width: calc(50% - 10px);
}
form.validate .email {
    width: calc(100% - 40px);
    height: 30px;
    text-overflow: ellipsis;
    border: 0;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 0 10px;
}
form.validate .button, form.create-event .button {
    transition: 200ms;
    width: 30px;
    height: 30px;
    display: block;
    padding: 3px 6px;
    background-color: rgb(175,200,210);
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    float: right;
}
form.validate .button:hover, form.create-event .button:hover {
    transition: 200ms;
    background-color: rgb(40,100,130);
    color: rgb(255,255,255);
    cursor: pointer;
}
form.validate .clear {
    display: inline;
}
video.news {
  max-width: 100%;
  margin: 20px 0 0;
}
img.news {
  max-width: 100%;
  margin: 20px 0 0;
}
div.newsacc li {
    margin-bottom: 10px;
}
img#fb, img#tw {
    transition: 400ms;
}
#social-media a:hover li img#fb {
    transition: 200ms;
    background-color: #3b5998;
}
#social-media a:hover li img#tw {
    transition: 200ms;
    background-color: #55acee;
}
footer.start {
    background-color: rgba(0,0,0,0);
}
.event-container, .event-title {
    color: #fff;
}
.event-container {
    display: block;
    padding: 10px;
    padding-bottom: 7px;
    border: 1px solid #fff;
}
.event-date {
    font-weight: bold;
    color: rgb(20, 45, 60);
    background-color: #fff;
    padding: 10px 10px 5px 10px;
    margin: -10px -10px 10px -10px;
    width: 100%;
    display: block;
}
.event-container.europe:hover > .event-date {
    background-color: rgb(175,200,210);
}
.event-container.europe:hover {
    color: rgb(175,200,210) !important;
    border: 1px solid rgb(175,200,210);
}
.event-title {
    display: inline-block;
}
.event-title a:hover {
    box-shadow: 0 1px 0 #fff;
}
.event-icon {
    width: 20px;
    vertical-align: top;
    display: inline-block;
}
#phase .ph-container {
    margin-bottom: 20px;
}
#phase .header {
    transition: 200ms;
    font-weight: bold;
    color: rgb(20, 45, 60);
    padding-top: 10px;
    background-color: #fff;
    width: calc(100% - 2px);
    display: block;
    border: 1px solid rgb(175,200,210);
}
#phase .header.index-page {
    padding-top:8px;
    color: white;
    background-color: transparent;
    display: block;
    border: 1px solid white;
}
#phase .header:hover, #phase .header.indicator {
    transition: 200ms;
    cursor: pointer;
    background-color: rgb(175,200,210);
    color: #fff;
    border: 1px solid rgb(40,100,130);
}
#phase .header.index-page:hover {
    background-color: transparent;
}
#phase .title {
    margin: 10px 10px 0;
    height: 10px;
}
#phase span.percentage {
    font-weight: 400;
}
/*
    float: right;
    text-align: right;
    margin: 0 10px 0 -50px;
*/
#phase .content {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid rgb(40,100,130);
    border-top: none;
}
#phase hr {
    background-color: rgb(175,200,210);
    width: 0;
    height: 40px;
    margin: -30px 0 0;
    border: none;
}
#phase div.index-page hr {
    background-color: rgba(40,100,130,0.4);
}
#phase .header:hover > hr.load, #phase hr.indicator {
    background-color: rgb(40,100,130);
}
/* Popup */

.popup {
    transition: 200ms;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    opacity: 0;
    z-index: 35;
}
.popup-flat {
    transition: 200ms;
    vertical-align: middle;
    position: relative;
}
/*
    display: table-cell;
    width: 100vw;
*/
.scroller, .container {
    display: -webkit-flex;
    display: flex;
}
#cross {
    position: fixed;
    transition: 200ms;
    width: 25px;
    height: 20px;
    z-index: 35;
}
#popup-close {
    display: block;
    position: absolute;
}
#pop-back {
    transition: 400ms;
    width: 100%;
    margin: 0;
    z-index: 40;
    position: fixed;
    display: block;
}
.peekfield {
    max-height: calc(100vh - 200px);
    display: none;
    padding: 20px 0 0;
}
#header-back.blue, #header-back.open {
	background-color: rgba(40,100,130,1) !important;
}
#pop-back.blue {
	background-color: rgba(40,100,130,1) !important;
}
#pop-back {
	background-color: rgba(20,45,60,1);
}
#header-back, #pop-back.open {
	background-color: rgba(20,45,60,1.00) !important;
	height: 120px;
}
.column a {
    transition: 200ms;
    color: rgba(175,200,210,1.00);
    box-shadow: 0 0px 0 rgba(175,200,210,0.00);
}
.popup-img {
    width: 100%;
    padding: 0px;
    height: calc(5vh + 5vw + 50px);
    margin: 20px 0 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: 200ms;
}
.popup-graphic {
    width: 100%;
    padding: 0px;
    height: calc(5vh + 5vw + 150px);
    margin: 20px 0;
    transition: 200ms;
}
p a:hover, a.link:hover {
    transition: 200ms;
    color: rgba(175,200,210,1.00);
    box-shadow: 0 1px 0 rgba(175,200,210,1.00) !important;
}
.link {
    transition: 200ms;
    color: rgba(175,200,210,1.00);
}
.mehr, .faq {
    display: block;
}
a.faq {
    color: #fff;
}
a.faq:hover {
    color: rgba(175,200,210,1.00) !important;
}
a.faq.open {
    color: rgba(175,200,210,1.00) !important;
}
#nachweis {
    word-wrap: break-word !important;
    font-size: 0.8em;
    color: rgba(175,200,210,1.00);
}
.icon {
    width: 30px;
    margin: 0 10px -8px 0;
}
#aendern-btn {
    transition: 200ms;
    font-weight: 400;
    padding: 15px 10px 10px;
    color: rgba(20,45,60,1.00);
    background-color: rgba(255,255,255,1.00);
    font-size: 0.7em;
}
#aendern-btn:hover {
    transition: 200ms;
    color: rgba(255,255,255,1.00);
    background-color: #286482;
}
#aendern-field, #aendern-field:hover {
    cursor: default;
    transition: 200ms;
    font-weight: 400;
    padding: 15px 10px 10px;
    color: rgba(20,45,60,1.00);
    background-color: rgba(255,255,255,1.00);
    opacity: 0.5;
}
.date-container {
    display: none;
}

/* foo */
/* .portrait {
    width: calc(100% - 2px);
    border: 1px solid white;

} */
.portrait {
    width: 100%;
}
#fundtext {
    font-size: initial;
    margin: 20px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.likelink {
    cursor: pointer;
}
.ie {
    display: none;
}
#phase-text {
    font-size: 70%;
    position: absolute;
    top: 33%;
    width: 100%;
    left: 5px;
    text-align: center;
}
div#mission-container.incolumn {
    width:100%;
    position:relative;
}
div#mission-container.incolumn img.belt {
    width:100%;
}
div#mission-container div#belt-progress {
    position:absolute;
    overflow:hidden;
    z-index:-1;
    width:100%;
    height:100%;
}
div#mission-container div#belt-progress svg {
    fill: transparent;
    stroke: #286482;
    stroke-width: 79.58; /* (1000 / 4pi) */
}
div#mission-container.incolumn div#belt-progress svg {
    width:100%;
    height:100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
    #schiff-ani {
        display: none;
    }
    #phase {
        display: none;
    }
    .ie {
        display: inherit;
    }
}
@supports (-ms-accelerator:true) {
/* Edge CSS styles go here */
    #phase {
        display: none;
    }
    .ie {
        display: inherit;
    }
}
