@charset "UTF-8";
/* Mobile */
/* Main */
body {
    overflow-x: hidden;
}
.fixed {
    position: fixed !important;
    overflow: hidden !important;
}
.hideme {
    opacity:0;
}
/* Header */
header ul li:hover {
	background-color: rgba(40,100,130,0.00);
}
header ul.pop li:hover {
	background-color: rgba(25,60,80,0.00);
}

@media screen and (max-width: 374px) {
div#schiff-ani.index {
    display: none;
}
}

@media screen and (min-device-width: 480px) {

/* Main */

#wrap {
    height: 100vh;
    margin: 0 40px;
    padding: 40px 0;
}
footer {
    background-color: rgba(20, 45, 60, 1);
    font-size: 11pt;
    position: fixed;
    width: 100%;
    margin: 20px 0 0;
    z-index: 25;
    bottom: 0;
}
nav.footer {
    position: relative;
    text-align: center;
    margin: 0 -40px;
}
footer li {
    transition: 200ms;
    display: inline-block;
    margin: 11px;
    box-shadow: 0 0 #fff;
}
footer .br {
    display: none;
}
.peekfield {
    padding: 20px 20px 0;
}

/* Head */

#logo {
    transition: 200ms;
    margin: 0 auto;
    display: block;
    width: 70px;
}
a#logo-wrap {
    position: fixed;
    width: 150px;
    height: 70px;
    padding: 0px;
    margin: 0 calc(50% - 75px);
    margin-left: calc(50% - 75px - 40px);
}
#title {
    position: relative;
    font-size: 11pt;
    width: 120px;
    margin: 10px auto 0;
}
#bread {
    padding: 35px 25px;
    margin-left: -25px;
    display: block;
}
.hidden {
    display: none;
}
header {
    position: relative;
    font-size: 15pt;
}
header ul {
    transition: 200ms;
    margin: 150px auto 0;
    position: fixed;
}
header ul li {
    float: none;
    padding: 10px 0;
}
nav ul.hidden li {
    transition: 400ms;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}
nav ul.hidden li.scale {
    transition: 400ms;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.indicator, .indicator.pop {
    background-color: inherit;
    color: rgba(40,100,130,1.00);
}
#pop-back, #pop-back.blue {
    display: block;
    transition: 400ms;
    height: 167px;
}
#pop-back.open {
    transition: 400ms;
    height: 100%;
}
#header-back {
    transition: 400ms;
    width: 100%;
    height: 167px;
    z-index: 30;
    position: fixed;
}
#header-back.blue, #header-back.open {
    transition: 400ms;
    height: 100%;
}

/* Simulation */

#ui, #simulator, #wellen, .fullscreen-bg {
    display: none;
}
#sim-alt {
    width: 100%;
    height: 100%;
    display: block;
}
#sim-alt img {
    margin: -50px;
    height: calc(100% + 50px);
    overflow: hidden;
    z-index: -500;
    display: block;
    position: fixed;
}

/* Content */

#content {
    transition: 400ms;
    position: absolute;
    width: 100%;
    margin: 0 -40px;
}
#menu {
    padding: 127px 0 0;
    margin: 0 0 40px;
}
#menu.single {
    height: calc(15vh + 220px);
}
#menu.double {
    height: calc(30vh + 185px);
}
#menu.triple {
    height: calc(45vh + 350px);
}
#menu.single, #menu.double, #menu.triple {
    width: 100%;
}
.single .child, .double .child, .triple .child {
    width: calc(100% - 40px);
    height: calc(15vh + 70px);
}
#menu .child {
    transition: 400ms;
    opacity: 1;
}
.tint {
    transition: 400ms;
    background-color: rgba(0,70,100,0.70);
}
.child .description {
    transition: 400ms;
    transition-delay: 200ms;
    opacity: 1;
}
#union {
    height: calc(100vh - 40px);
    font-size: 30px;
    transition: 200ms;
}
.aendern {
    opacity: 1 !important;
    display: block;
    height: 50px;
    width: 100%;
    padding: 30px 0 0 !important;
    margin: 0 -40px;
    position: fixed;
    font-size: 11pt;
    text-align: center;
}
#aendern-btn {
    font-size: 13pt;
}

/* Popup */

.popup, .popup-flat {
    width: calc(100% - 80px);
    padding: 140px 0 0;
}
/*
    height: calc(100vh - 240px);
*/
.popup-flat {
    padding: 140px 0 40px;
}
.scroller {
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.container {
    display: block;
}
.container.single, div.single, .container.double, div.double, .container.triple, div.triple, .scroller.single, .scroller.double, .scroller.triple {
    width: 100%;
    margin: 0 0 20px;
}
.single .column, .double .column, .triple .column {
    width: 100%;
    margin: 0 0 20px;
}
#cross {
    padding: 35px 25px;
    right: 15px;
}
#popup-close {
    width: calc(100vw - 80px);
    margin-top: -2px;
}
.icon {
    width: 30px;
    margin: 0 10px -8px 0;
}
#map {
    position: relative;
    transition: 400ms;
    height: 0;
    width: 100%;
}
#map.open {
    transition: 400ms;
    height: 35vh;
    width: 100%;
}
}

@media screen and (max-device-width: 479px) {
/* Main */

#wrap {
	margin: 0 20px;
    padding: 20px 0;
}
footer {
    background-color: rgba(20, 45, 60, 1);
    font-size: 10pt;
    position: fixed;
    width: 100%;
    margin: 20px 0 0;
    z-index: 25;
    padding: 10px 0;
    bottom: 0;
}
nav.footer {
    margin: 0 10px;
    position: relative;
    text-align: center;
}
footer li {
	transition: 200ms;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 0 #fff;
    letter-spacing: -0.3px;
}
footer .br {
    display: none;
}
.peekfield {
    max-height: 100vh;
    padding: 20px 20px 0;
}

/* Head */

#logo {
	transition: 400ms;
    margin: 0 auto;
    display: block;
    width: 50px;
}
a#logo-wrap {
    position: fixed;
    width: 150px;
    height: 50px;
    padding: 0px;
    margin: 0 calc(50% - 75px);
    margin-left: calc(50% - 75px - 20px);
}
#title {
    position: relative;
    font-size: 10pt;
    width: 120px;
    margin: 7px auto 0;
}
#bread {
    padding: 30px 20px;
    margin: -10px -20px;
}
.hidden {
    display: none;
}
header {
    position: relative;
	font-size: 15pt;
}
header ul {
    transition: 200ms;
	margin: 100px auto 0;
    position: fixed;
}
header ul li {
    float: none;
    opacity: 1;
    padding: 10px 0;
	transition: 200ms;
}
nav ul.hidden li {
    transition: 400ms;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}
nav ul.hidden li.scale {
    transition: 400ms;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.indicator, .indicator.pop {
    background-color: inherit;
    color: rgba(40,100,130,1.00);
}
#pop-back, #pop-back.blue {
    display: block;
    transition: 400ms;
    height: 105px;
}
#pop-back.open {
    transition: 400ms;
    height: 100%;
}
#header-back {
    transition: 400ms;
    width: 100%;
    height: 105px;
    z-index: 30;
    position: fixed;
}
#header-back.blue, #header-back.open {
	transition: 400ms;
    height: calc(100% + 200px);
}

/* Simulation */

#ui, #simulator, #wellen, .fullscreen-bg {
    display: none;
}
#sim-alt {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}
#sim-alt img {
    margin: -50px;
    height: calc(100% + 50px);
    overflow: hidden;
    z-index: -500;
    display: block;
    position: fixed;
}

/* Content */

#content {
	transition: 200ms;
    position: absolute;
    width: 100%;
    margin: 0 -20px;
}
#menu {
    padding: 85px 0 0;
    margin: 0 0 48px;
}
#menu.single {
    height: calc(15vh + 220px);
}
#menu.double {
    height: calc(30vh + 185px);
}
#menu.triple {
    height: calc(45vh + 350px);
}
#menu.single, #menu.double, #menu.triple {
    width: 100%;
}
.single .child, .double .child, .triple .child {
    width: calc(100% - 40px);
    height: calc(15vh + 70px);
}
#menu .child {
    transition: 200ms;
    opacity: 1;
}
.tint {
    transition: 200ms;
    background-color: rgba(0,70,100,0.70);
}
.child .description {
    transition: 500ms;
    transition-delay: 200ms;
    opacity: 1;
}
.aendern {
    opacity: 1 !important;
    display: block;
    height: 50px;
    width: 100%;
    padding: 30px 0 0 !important;
    margin: 0 -20px;
    position: fixed;
    font-size: 10pt;
    text-align: center;
}
#aendern-btn {
    font-size: 13pt;
}
#union {
    height: calc(100vh - 20px);
	font-size: 25px;
	transition: 200ms;
}
/* Popup */

.popup, .popup-flat {
    width: calc(100% - 40px);
    padding: 85px 0 0;
}
/*
    height: calc(100vh - 200px);
*/
.popup-flat {
    padding: 85px 0 80px;
}
#cross {
    padding: 30px 20px;
    margin: -10px 0 0;
    right: 0;
}
.scroller {
    font-size: 10pt !important;
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.container {
    display: block;
}
.container.single, div.single, .container.double, div.double, .container.triple, div.triple, .scroller.single, .scroller.double, .scroller.triple {
    width: 100%;
}
.single .column, .double .column, .triple .column {
    width: 100%;
    margin: 0 0 20px;
}
#popup-close {
    width: calc(100vw - 80px);
    margin-top: -2px;
}
.icon {
    width: 30px;
    margin: 0 10px -8px 0;
}
#map {
    position: relative;
	transition: 200ms;
    height: 0;
    width: 100%;
}
#map.open {
	transition: 200ms;
    height: 50vh;
    width: 100%;
}
}
@media screen and (max-width: 849px) and (max-height: 699px) {
div#schiff-ani.index {
    display: none;
}
}
@media screen and (max-height: 549px) {
#slogan {
    font-size: 20px;
}
div#schiff-ani.index {
    display: none;
}
#union {
    font-size: 20px;
}
}
@media screen and (max-device-height: 549px) {
header ul li {
    padding: 5px 0;
}
#title {
    display: none;
}
#logo {
    width: 50px;
}
#bread, #cross {
    margin-top: -17px;
}
#menu {
    padding: 90px 0 0;
}
header ul {
    margin: 120px auto 0;
}
#pop-back, #header-back, #pop-back.blue {
    height: 120px;
}
#pop-back.open {
    transition: 400ms;
    height: 100%;
}
#header-back.blue, #header-back.open {
	transition: 400ms;
    height: 100%;
}
footer {
    padding: 5px 0;
}
}
@media screen and (max-height: 399px) {
#phase {
    display: none;
}
}
@media screen and (max-width: 479px) and (max-height: 339px) {
div#schiff-ani.index {
    display: none;
}
#union {
    font-size: 20px;
}
}
@media screen and (max-device-width: 479px) and (max-device-height: 339px) {
header ul li {
    padding: 5px 0;
}
#title {
    display: none;
}
#logo {
    width: 40px;
}
#bread, #cross {
    margin-top: -17px;
}
#menu {
    padding: 60px 0 0;
}
header ul {
    margin: 80px auto 0;
}
#pop-back, #header-back, #pop-back.blue {
    height: 80px;
}
#pop-back.open {
    transition: 400ms;
    height: 100%;
}
#header-back.blue, #header-back.open {
	transition: 400ms;
    height: 100%;
}
footer {
    padding: 5px 0;
}
}
@media screen and (max-height: 449px) and (max-width: 319px) {
#phase {
    display: none;
}
}
@media screen and (max-height: 379px) and (max-width: 319px) {
#clockdiv {
    display: none;
}
}
@media screen and (max-height: 339px) {
#clockdiv {
    display: none;
}
}
