@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


.fullscreen-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}
