RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTP_HOST} !=en.jugendrettet.org
#RewriteRule (.*) https://en.jugendrettet.org/$1 [R=301,L]

# new page

#impossible, but worth noting
#RewriteRule ^/?#news$ /news [R=302,NC,L]
#RewriteRule ^/?#about$ /schiff [R=302,NC,L]
#RewriteRule ^/?#team$ /team [R=302,NC,L]
#RewriteRule ^/?#rescue$ /retten [R=302,NC,L]
#RewriteRule ^/?#donate$ /spenden [R=302,NC,L]
#RewriteRule ^/?#faq$ /faq [R=302,NC,L]
#RewriteRule ^/?about#transparency$ /transparenz [R=302,NC,L]

RewriteRule ^/?press$ /presse [R=302,NC,L]
RewriteRule ^/?about$ /schiff [R=302,NC,L]
RewriteRule ^/?rescue_as$ /retten [R=302,NC,L]
RewriteRule ^/?archive$ /news [R=302,NC,L]
RewriteRule ^/?mission$ /spenden [R=302,NC,L]
RewriteRule ^/?legal$ /impressum [R=302,NC,L]
RewriteRule ^/?de/?$ https://jugendrettet.org/$1 [R=302,NC,L]

# other redirects

Redirect /donate /spenden
Redirect /spende /spenden

Redirect /betterplace https://www.betterplace.org/projects/48425-rette-mit-spende-fur-mission-unity
Redirect /Betterplace https://www.betterplace.org/projects/48425-rette-mit-spende-fur-mission-unity
Redirect /Umbau https://betterplace.org/p52216
Redirect /umbau https://betterplace.org/p52216

Redirect /merch https://diraction.org/cat/index/sCategory/257
Redirect /Merch https://diraction.org/cat/index/sCategory/257

Redirect /iuventa https://www.vesselfinder.com/?imo=5222354
Redirect /Iuventa https://www.vesselfinder.com/?imo=5222354

Redirect /LG https://jugendrettet.org/news
Redirect /Lg https://jugendrettet.org/news
Redirect /lg https://jugendrettet.org/news
Redirect /lG https://jugendrettet.org/news

Redirect /HH https://jugendrettet.org/news
Redirect /Hh https://jugendrettet.org/news
Redirect /hh https://jugendrettet.org/news
Redirect /hH https://jugendrettet.org/news

Redirect /crew https://docs.google.com/forms/d/e/1FAIpQLSe7f6vBZpndmyP3mr5hsg6IW54F78tGBLQOrvDhiy382uZU8g/viewform
Redirect /Crew https://docs.google.com/forms/d/e/1FAIpQLSe7f6vBZpndmyP3mr5hsg6IW54F78tGBLQOrvDhiy382uZU8g/viewform
Redirect /crew_english https://docs.google.com/forms/d/e/1FAIpQLSe7f6vBZpndmyP3mr5hsg6IW54F78tGBLQOrvDhiy382uZU8g/viewform
Redirect /umbau https://docs.google.com/forms/d/1-BDVr3R__kjSiC5PyWAui0_BTWwIS8AoLC6Xy1KVgk4/viewform?c=0
Redirect /Umbau https://docs.google.com/forms/d/1-BDVr3R__kjSiC5PyWAui0_BTWwIS8AoLC6Xy1KVgk4/viewform?c=0
Redirect /sachspenden https://drive.google.com/open?id=1iKpAX8xsuh_Njjm6v0xumFi0RaiaAoNnNA8M1DuNBzU
Redirect /Sachspenden https://drive.google.com/open?id=1iKpAX8xsuh_Njjm6v0xumFi0RaiaAoNnNA8M1DuNBzU

Redirect /events https://www.facebook.com/JugendRettet/events
Redirect /events.php https://www.facebook.com/JugendRettet/events

# Error Documents
ErrorDocument 403 /forbidden
ErrorDocument 404 /notfound

RewriteCond %{REQUEST_URI} /aendern
RewriteRule .* /retten [R=302,L]


# hide en subdir
RewriteCond %{THE_REQUEST} ^GET\ /en/
RewriteRule ^en/(.*) /$1 [L,R=302]

# Webpages are in en subdir
RewriteCond %{REQUEST_URI} !^/(js|graphics|css|donations|files|fonts|files|graphics|ie-css|images|videos|en|de)(/|$) [NC]
RewriteRule !^en/ /en%{REQUEST_URI} [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ /$1.php
# When it's found, hide the extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)\.php$
RewriteCond %{THE_REQUEST} ^[A-Z]+\ (/[^\ ]*)\.php[?\ ]
RewriteRule (.*)\.php$ /$1 [R=302,L]

#RewriteCond %{HTTP_HOST} =de.jugendrettet.org
#RewriteRule (.*) https://jugendrettet.org/$1 [R=301]

# Deflate Compression by FileType
<IfModule mod_deflate.c>
 Addtype font/opentype .otf
 Addtype font/truetype .ttf
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE image/svg+xml
 AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css font/opentype font/truetype
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/atom_xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
 AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>
