@charset "UTF-8";
@font-face { font-family: Myriad Pro; src: url('../fonts/MyriadPro-Light.otf'); }
@font-face { font-family: Myriad Pro; font-weight: bold; src: url('../fonts/MyriadPro-Bold.otf'); }

/* General */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
    cursor: pointer;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic; 
}
sup {
    font-size: 0.7em;
}
.lowercase {
    text-transform: lowercase !important;
}
.visible {
    display: block !important;
}
.invisible {
    display: none !important;
}
.absolute {
    position: absolute !important;
} 
.relative {
    position: relative !important;
}
.opacity-zero {
    transition: 400ms !important;
    opacity: 0 !important;
}
.opacity-one {
    transition: 400ms !important;
    opacity: 1 !important;
}
::-moz-selection {
    background: hsla(200, 50%, 50%, 0.50);
}