@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('../../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('../../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('../../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('../../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('../../fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('../../fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('../../fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('../../fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('../../fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('../../fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('../../fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url('../../fonts/Open-Sans-800/Open-Sans-800.eot');
  src: url('../../fonts/Open-Sans-800/Open-Sans-800.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Extrabold'),
       local('Open-Sans-800'),
       url('../../fonts/Open-Sans-800/Open-Sans-800.woff2') format('woff2'),
       url('../../fonts/Open-Sans-800/Open-Sans-800.woff') format('woff'),
       url('../../fonts/Open-Sans-800/Open-Sans-800.ttf') format('truetype'),
       url('../../fonts/Open-Sans-800/Open-Sans-800.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('../../fonts/Open-Sans-300italic/Open-Sans-300italic.eot');
  src: url('../../fonts/Open-Sans-300italic/Open-Sans-300italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light Italic'),
       local('Open-Sans-300italic'),
       url('../../fonts/Open-Sans-300italic/Open-Sans-300italic.woff2') format('woff2'),
       url('../../fonts/Open-Sans-300italic/Open-Sans-300italic.woff') format('woff'),
       url('../../fonts/Open-Sans-300italic/Open-Sans-300italic.ttf') format('truetype'),
       url('../../fonts/Open-Sans-300italic/Open-Sans-300italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../../fonts/Open-Sans-italic/Open-Sans-italic.eot');
  src: url('../../fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('../../fonts/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
       url('../../fonts/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
       url('../../fonts/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
       url('../../fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.eot');
  src: url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold Italic'),
       local('Open-Sans-600italic'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.woff2') format('woff2'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.woff') format('woff'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.ttf') format('truetype'),
       url('../../fonts/Open-Sans-600italic/Open-Sans-600italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../../fonts/Open-Sans-700italic/Open-Sans-700italic.eot');
  src: url('../../fonts/Open-Sans-700italic/Open-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold Italic'),
       local('Open-Sans-700italic'),
       url('../../fonts/Open-Sans-700italic/Open-Sans-700italic.woff2') format('woff2'),
       url('../../fonts/Open-Sans-700italic/Open-Sans-700italic.woff') format('woff'),
       url('../../fonts/Open-Sans-700italic/Open-Sans-700italic.ttf') format('truetype'),
       url('../../fonts/Open-Sans-700italic/Open-Sans-700italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url('../../fonts/Open-Sans-800italic/Open-Sans-800italic.eot');
  src: url('../../fonts/Open-Sans-800italic/Open-Sans-800italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Extrabold Italic'),
       local('Open-Sans-800italic'),
       url('../../fonts/Open-Sans-800italic/Open-Sans-800italic.woff2') format('woff2'),
       url('../../fonts/Open-Sans-800italic/Open-Sans-800italic.woff') format('woff'),
       url('../../fonts/Open-Sans-800italic/Open-Sans-800italic.ttf') format('truetype'),
       url('../../fonts/Open-Sans-800italic/Open-Sans-800italic.svg#OpenSans') format('svg');
}
/* classes */
.text-center, .hor {
	text-align: center;
}
.text-long p {
	text-align: left;
}
.monospace {
	font-family: monospace;
}
.container {

}
.left {

}
.right {

}
.text-lighter {
  color: #286482;
}
.text-darker {
  color: #142d3c;
}
.text-large {
	font-size: large;
}
.text-smaller {
  font-size: smaller;
}
.text-small, .hor-4, .hor-5 {
  font-size: small;
}
div.p-highlight p, div.p-dark p {
	padding: 1em;
	margin: 0;
}
.highlight, nav a.highlight, div.box-highlight, div.p-highlight {
  background: rgb(219, 233, 238);
}
.red {
	background: rgb(249,69,0);
}
.dark, nav a.dark, div.box-dark, div.p-dark {
	color: white;
	background-color: #142d3c;
}
div.a-dark {
	transition: background-color 0.3s ease,
  color 0.6s ease,
  border-color 0.6s ease;
}
div.a-dark:hover {
	color: #142d3c;
}
div.box-dark, div.box-highlight {
	padding: 0.4ch;
}
div.box-dark, div.box-highlight, div.hor {
	margin-bottom: 18px;
}
.a-dark a, .a-highlight a {
	color: inherit;
	background: inherit;
	border-bottom: none;
}
.a-dark:hover a {
	border-bottom: solid thin;
}
div.box-pic {
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-image: url(/images/page/IUVENTA1.jpg);
}
div.box-pic-s {
  height: 100px;
	background-size: cover;
  background-position: center;
  background-image: url(/images/page/IUVENTA1.jpg);
}
div.hor-el {
  display: inline-block;
  vertical-align: top;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 100px;
  margin-bottom: 1em;
  /*border: thin solid white;*/
}
div.hor-overflow {
	max-height: 500px;
	overflow-y: auto;
}
div.hor-overflow-fallback {
	display: none;
}
div.hor-2 {
  width: 48%;
}
div.hor-3 {
  width: 32%;
}
div.hor-4 {
  width: 23%;
}
div.hor-5 {
  width: 18%;
}
div.hor-last, .box-pic, .box-pic-s{
  border-right: none;
}
h2, h3 {
	text-align:center;
}
video.header-video {
	object-fit: cover;
	height: 100vh;
	width: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
}
section {
	padding-top: 50px;
}
section.big-margin {
	padding-top: 100px;
}
div.hidden {
	display: none;
}
.std {
	font-weight: normal;
}
.box-highlight, .box-dark, .p-highlight, .p-dark, .hor {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}
/* end classes */
/* structure */
body {
	min-width: 332px;
}
section#header {
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
}
a#introlink {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	padding: 0;
}
div#center {
  position: relative;
	width: 50%;
	/*height: 50vh;*/
}
div#center p {
	margin: 0;
}
div#center h1, div#center p {
  font-size: 6vw;
  margin-bottom: 0;
}
div#center object, div#center img {
	width: 100%;
	max-height: 50vh;
}
nav {
	overflow: hidden;
	top: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
}
nav a {
  display: inline-block;
}
nav a p {
	margin: 0;
}
div#margin-box {
	margin-left: 2ch;
}
div#lastlinks {
	max-width: 84ch;
}
article {
	padding-top: 3ch;
	margin-left: 3ch;
	margin-right: 3ch;
	padding-bottom: 3ch;
	max-width: 95%;
}
header {
	padding-bottom: 8ch;
}
div#lastlinks {
	padding-top: 2ch;
	padding-bottom: 2ch;
}
div#lastlinks a {
	margin-top: 0.5ch;
	display: inline-block;
}
div.hor-el p {
  padding: 0.5ch;
}
div#bp-column {
	min-width: 210px;
}
/* end structure */
/* styling */
body {
	/*background: #286482;*/
	font-family: Open Sans;
  color: #142d3c;
	margin: 0;
	font-size: large;
}
div#center img {
	transition: all 0.8s ease;
}
div#center img:hover {
	transform: scale(1.1);
}
div#center a {
	border: none;
}
header, footer {
	font-size:0.8em;
	font-family: monospace;
}
div#center h1, div#center p {
  color: white;
}
nav {
	color: #286482;
}
nav a {
	margin-top: 1px;
  text-transform: uppercase;
  font-size: medium;
  padding: 1ch;
  transition: background-color 0.2s linear,
  color 0.2s linear,
  border 0.2s;
}
nav a, nav a.inactive {
  background: inherit;
  color: #286482;
}
nav a.red, nav a.red.inactive {
	color: rgb(249,69,0);
	background: transparent;
	font-weight: bold;
}
nav a:hover, nav a:hover.red, nav a:hover.dark, nav a.active, nav a.red.active {
	background: #286482;
	color: white;
	border-bottom: none;
}
nav a:hover.red, nav a.red.active {
	background: rgb(249,69,0);
}
nav a:hover.dark {
	color: #142d3c;
}
nav a p {
	margin: 0;
}
div#paper, nav a:hover, div#lastlinks a:hover {
	/* border: solid; */
}
article {
	line-height:140%;
	word-wrap:break-word;
}
pre {
	color:white;
	background-color:black;
	overflow-x:auto;
	word-wrap:normal;
	max-width:95%;
	margin: auto;
	margin-bottom: 1ch;
	padding: 1ch;
}
pre,.quote {
	line-height:normal;
}
a {
	color:inherit;
}
body a {
	text-decoration: none;
}
article a {
	border-bottom: solid thin;
}
a#introlink {
	border: none;
}
div#paper a {
	padding: initial;
}
p {
	/*text-align:justify;*/
}
ul {
	margin: auto;
}
p, ul {
	max-width: 80ch;
}
p, div.p-highlight, div.p-dark {
	margin: 0.5em;
}
h1, div.fakeh1 p {
	font-weight: normal;
	text-align: center;
	margin-bottom: 4ch;
	text-transform: uppercase;
}
div.fakeh1 p {
	font-size: 1.5em;
	margin-top: 0.83em;
}
h2 {
	/*border-left:solid;*/
	/*padding-left:2ch;*/
	border-top: solid 10px;
	padding: 4ch;
	text-transform: uppercase;
	margin-top: 1.4em;
	/*background: rgb(141, 160, 169);
  color: white;*/
	max-width: 66%;
	margin-left: auto;
	margin-right: auto;
}
h1, h2 {
	color: #286482;
}
h3 {
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans;
}
footer {
	border-top: thin solid gray;
	word-break:break-all;
}
ul {
	/*list-style-type: hebrew;*/
}
li {
	margin-bottom: 0.5ch;
}
footer ul {
	list-style-type: none;
	padding-left: 0;
}
.center, p {
	margin-left: auto;
	margin-right: auto;
}
body, div#paper, div.a-dark:hover, nav {
	background: #f8f8f7;
}
/* end styling */
@media screen and (max-width: 690px) {
	div.hor-3 {
	  width: 100%;
	}
	div.hor-overflow {
	  display: none;
	}
	div.opverflow-fallback {
	  display: block;
	}
	body {
	  font-size: medium;
	}
}
@media screen and (max-width: 600px) {
	div.hor-5 {
	  font-size: x-small;
	}
	body, div.hor-2 {
	  font-size: medium;
	}
}
@media screen and (max-width: 500px) {
	div.hor-4 {
	  font-size: x-small;
	}
	div.hor-2 {
	  font-size: smaller;
	}
}
@media screen and (max-width: 400px) {
	nav a {
	  font-size: small;
	}
	div.hor-2 {
	  font-size: small;
	}
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}