@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
	min-width: 100%;
	min-height: 100%;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#ui {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
	display: none;
}

#camera {
    position: absolute;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#error {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    z-index: -1000;
}

#length {
    position: absolute;
    width: 2004px;
    height: 2px;
    background-color: #666666;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(-1000px, 0, 1068px) rotateX(90deg);
    transform: translate3d(-1000px, 0, 1068px) rotateX(90deg);
}

#end {
    position: absolute;
    width: 2000px;
    height: 30px;
    border-width: 2px;
    border-color: #666666;
    border-style: none solid none solid;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(-1000px, 0, 1055px) rotateX(90deg);
    transform: translate3d(-1000px, 0, 1055px) rotateX(90deg);
}

#wind {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333333;
    width: 300px;
    text-align: center;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(0px, 0px, 160px) rotateX(90deg);
    transform: translate3d(0px, 0px, 160px) rotateX(90deg);
}

#wind-speed {
    font-size: 45px;
}

#wind-unit {
    font-size: 35px;
}

#wind-label {
    position: absolute;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333333;
    width: 300px;
    text-align: center;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(0px, 0px, 160px) rotateX(90deg);
    transform: translate3d(0px, 0px, 160px) rotateX(90deg);
}
#simulator {
	z-index: -500;
}
#size-label {
    position: absolute;
    width: 300px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: center;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(-150px, 0px, 1170px) rotateX(90deg);
    transform: translate3d(-150px, 0px, 1170px) rotateX(90deg);
}
#size {
    position: absolute;
    color: #333333;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 200px;
    text-align: center;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(-100px, 0, 1110px) rotateX(90deg);
    transform: translate3d(-100px, 0, 1110px) rotateX(90deg);
}

#size-unit {
    font-size: 35px;
}

#profile {
    position: absolute;
    width: 350px;
    height: 105px;
    -webkit-transform: translate3d(-1450px, 0, 0);
    transform: translate3d(-1450px, 0, 0);
}

#choppiness {
    position: absolute;
    color: #333333;
    font-size: 55px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 200px;
    text-align: center;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(-1350px, 0, 100px) rotateX(90deg);
    transform: translate3d(-1350px, 0, 100px) rotateX(90deg);
}

#choppiness-label {
    position: absolute;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333333;
    width: 300px;
    text-align: center;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: translate3d(-1400px, 0px, 175px) rotateX(90deg);
    transform: translate3d(-1400px, 0px, 175px) rotateX(90deg);
}