RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?new.jugendrettet.org [NC]
#RewriteRule \.(jpg|jpeg|png|gif|svg)$ - [NC,F,L]

RewriteRule ^$ /de [L]

# Deflate Compression by FileType
<IfModule mod_deflate.c>
 Addtype font/opentype .otf
 Addtype font/truetype .ttf
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE image/svg+xml
 AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css font/opentype font/truetype
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/atom_xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
 AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>
# turns cache on for 1 week
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 days"
  ExpiresByType text/html "access 1 days"
  ExpiresByType image/gif "access plus 1 week 1 days"
  ExpiresByType image/jpeg "access plus 1 week 1 days"
  ExpiresByType image/png "access plus 1 week 1 days"
  ExpiresByType image/svg "access plus 1 week 1 days"
  ExpiresByType text/css "access 1 days"
  ExpiresByType text/javascript "access 1 days"
  ExpiresByType application/x-javascript "access 1 days"
  ExpiresByType text/xml "access plus 1 seconds"
</IfModule>
<ifmodule mod_headers.c>
 <filesmatch "\\.(ico|jpe?g|png|gif|swf)$">
  Header set Cache-Control "max-age=2592000, public"
 </filesmatch>
 <filesmatch "\\.(css)$">
  Header set Cache-Control "max-age=604800, public"
 </filesmatch>
 <filesmatch "\\.(js)$">
  Header set Cache-Control "max-age=604800, private"
 </filesmatch>
</ifmodule>

Redirect /donate /spenden

Redirect /betterplace https://www.betterplace.org/projects/48425-rette-mit-spende-fur-mission-unity
Redirect /Betterplace https://www.betterplace.org/projects/48425-rette-mit-spende-fur-mission-unity

Redirect /merch https://diraction.org/cat/index/sCategory/257
Redirect /Merch https://diraction.org/cat/index/sCategory/257

Redirect /LG https://jugendrettet.org/news
Redirect /Lg https://jugendrettet.org/news
Redirect /lg https://jugendrettet.org/news
Redirect /lG https://jugendrettet.org/news

Redirect /HH https://jugendrettet.org/news
Redirect /Hh https://jugendrettet.org/news
Redirect /hh https://jugendrettet.org/news
Redirect /hH https://jugendrettet.org/news

Redirect /crew https://docs.google.com/forms/d/1Wh6SA_DMnwk26b7JjnJ7ACe0NuB04nJAhmn5sP9gd04/viewform?c=0
Redirect /Crew https://docs.google.com/forms/d/1Wh6SA_DMnwk26b7JjnJ7ACe0NuB04nJAhmn5sP9gd04/viewform?c=0
Redirect /crew_english https://docs.google.com/forms/d/e/1FAIpQLSdf_IYzNZQo-NZho0rd9RCP_agJG-heYcVevfQ8O9PWiHMzkw/viewform
Redirect /umbau https://docs.google.com/forms/d/1-BDVr3R__kjSiC5PyWAui0_BTWwIS8AoLC6Xy1KVgk4/viewform?c=0
Redirect /Umbau https://docs.google.com/forms/d/1-BDVr3R__kjSiC5PyWAui0_BTWwIS8AoLC6Xy1KVgk4/viewform?c=0
Redirect /sachspenden https://drive.google.com/open?id=1iKpAX8xsuh_Njjm6v0xumFi0RaiaAoNnNA8M1DuNBzU
Redirect /Sachspenden https://drive.google.com/open?id=1iKpAX8xsuh_Njjm6v0xumFi0RaiaAoNnNA8M1DuNBzU

Redirect /events https://www.facebook.com/JugendRettet/events
Redirect /events.php https://www.facebook.com/JugendRettet/events

# Error Documents
ErrorDocument 403 https://jugendrettet.org/forbidden
ErrorDocument 404 https://jugendrettet.org/notfound

