Options +SymLinksIfOwnerMatch
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !=jugendrettet.org
RewriteRule (.*) https://new.jugendrettet.org/$1 [R=301,L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?new.jugendrettet.org [NC]
RewriteRule \.(jpg|jpeg|png|gif|svg)$ - [NC,F,L]

RewriteRule ^/?donate$ /#donate [R=302,NC,NE,L]
RewriteRule ^/?spende$ /#donate [R=302,NC,NE,L]
RewriteRule ^/?iuventa$ /about#iuventa [R=302,NC,NE,L]

RewriteRule ^/?donate$ /#donate [R=302,NC,NE,L]
RewriteRule ^/?news$ /#news [R=302,NC,NE,L]
RewriteRule ^/?schiff$ /#about [R=302,NC,NE,L]
RewriteRule ^/?retten$ /#rescue [R=302,NC,NE,L]
RewriteRule ^/?spenden$ /#donate [R=302,NC,NE,L]
RewriteRule ^/?europe$ /#rescue [R=302,NC,NE,L]

RewriteRule ^/?presse$ /press [R=302,NC,L]
RewriteRule ^/?impressum$ /legal [R=302,NC,L]
RewriteRule ^/?transparenz$ /about#transparency [R=302,NC,L]


RewriteRule ^/?crew$ https://docs.google.com/forms/d/e/1FAIpQLSe7f6vBZpndmyP3mr5hsg6IW54F78tGBLQOrvDhiy382uZU8g/viewform [R=302,NC,L]
RewriteRule ^/?betterplace$ https://www.betterplace.org/projects/48425-rette-mit-spende-fur-mission-unity [R=302,NC,L]
RewriteRule ^/?umbau$ https://betterplace.org/p52216 [R=302,NC,L]
RewriteRule ^/?merch$ https://diraction.org/cat/index/sCategory/257 [R=302,NC,L]
RewriteRule ^/?sachspenden$ https://drive.google.com/open?id=1iKpAX8xsuh_Njjm6v0xumFi0RaiaAoNnNA8M1DuNBzU [R=302,NC,L]
RewriteRule ^/?events$ https://www.facebook.com/JugendRettet/events [R=302,NC,L]
RewriteRule ^/?events.php$ https://www.facebook.com/JugendRettet/events [R=302,NC,L]

# url has no subdir -> redirect to Accept-Language
# or /en/ if we have no dir for Accept-Language
RewriteCond %{REQUEST_URI} ^/(js|f|en|de)(/|$) [NC]
RewriteRule .? - [S=3]
RewriteCond %{HTTP:Accept-Language} !^(en(-.*)?|de(-.*)?)$ [NC]
RewriteRule .? - [S=1]
RewriteCond %{HTTP:Accept-Language} ^de(-.*)?$ [NC]
RewriteRule ^(.*)$ /de/$1 [R=302,L]
RewriteRule ^(.*)$ /en/$1 [R=302,L]
#RewriteRule ^(.*)$ https://en.jugendrettet.org/$1 [R=302,L]

#RewriteCond %{REQUEST_URI} ^/en/ [NC]
#RewriteRule ^(.*)$ https://en.jugendrettet.org/$1 [R=302,L]

# hide extension
# Let client find file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ /$1.html
# When it's found, hide the extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)\.html$
RewriteCond %{THE_REQUEST} ^[A-Z]+\ (/[^\ ]*)\.html[?\ ]
RewriteRule (.*)\.html$ /$1 [R=302,L]

# Error Documents
ErrorDocument 403 /403
ErrorDocument 404 /404

# Deflate Compression by FileType
<IfModule mod_deflate.c>
 Addtype font/opentype .otf
 Addtype font/truetype .ttf
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE image/svg+xml
 AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css font/opentype font/truetype
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/atom_xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
 AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>
# turns cache on for 1 week
#<IfModule mod_expires.c>
#  ExpiresActive On
#  ExpiresDefault "access plus 1 days"
#  ExpiresByType text/html "access 1 days"
#  ExpiresByType image/gif "access plus 1 week 1 days"
#  ExpiresByType image/jpeg "access plus 1 week 1 days"
#  ExpiresByType image/png "access plus 1 week 1 days"
#  ExpiresByType image/svg "access plus 1 week 1 days"
#  ExpiresByType text/css "access 1 days"
#  ExpiresByType text/javascript "access 1 days"
#  ExpiresByType application/x-javascript "access 1 days"
#  ExpiresByType text/xml "access plus 1 seconds"
#</IfModule>
#<ifmodule mod_headers.c>
# <filesmatch "\\.(ico|jpe?g|png|gif|swf)$">
#  Header set Cache-Control "max-age=2592000, public"
# </filesmatch>
# <filesmatch "\\.(css)$">
#  Header set Cache-Control "max-age=604800, public"
# </filesmatch>
# <filesmatch "\\.(js)$">
#  Header set Cache-Control "max-age=604800, private"
# </filesmatch>
#</ifmodule>
